<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx0ff9bb28b1897f07</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>tencentopenapi</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent1106940687</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>QQ</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>QQ41FA930F</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>QQLaunch</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencentlaunch1106940687</string>
			</array>
		</dict>
	</array>
	<key>CHANNEL_DENGTA</key>
	<string>1001</string>
	<key>MSDK_OfferId</key>
	<string>1450001484</string>
	<key>MSDK_ENV</key>
	<string>release</string>
	<key>QQAppID</key>
	<string>1106940687</string>
	<key>QQAppKey</key>
	<string>4578e54fb3a1bd18e0681bc1c734514e</string>
	<key>WXAppID</key>
	<string>wx0ff9bb28b1897f07</string>
	<key>MSDKKey</key>
	<string>626253067492d36d10d8416e48c5cef0</string>
	<key>MSDK_PUSH_SWITCH</key>
	<true/>
	<key>CLOSE_BUGLY_REPORT</key>
    <false/>
    <key>IPV6_SUPPORT</key>
    <true/>
	<key>AutoRefreshToken</key>
	<true/>
	<key>NeedNotice</key>
	<true/>
	<key>NoticeTime</key>
	<integer>900</integer>
	<key>MSDK_REAL_NAME_AUTH_SWITCH</key>
	<integer>1</integer>
	<key>MSDK_Webview_Landscape_NavBar_Hideable</key>
	<false/>
	<key>MSDK_Webview_Portrait_NavBar_Hideable</key>
	<false/>
	<key>MSDKCrashReporterEnable</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>mqq</string>
		<string>mqqapi</string>
		<string>wtloginmqq2</string>
		<string>mqqopensdkapiV4</string>
		<string>mqqopensdkapiV3</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqwpa</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>mqqgamebindinggroup</string>
		<string>mqqopensdkfriend</string>
		<string>mqzone</string>
		<string>weixin</string>
		<string>wechat</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string></string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string></string>
	<key>NSLocationWhenInUseUsageDescription</key>
    <string></string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>